#header {
	background: #F1F1F1;
	padding-left: 50px;
	width: 100%;
}

#header table {
	width: 100%;
}

#header table, #header th, #header td {
	border-spacing: 0px;
	padding: 10px;
}

#header th, #header td {
	text-align: left;
	width: 100%;
	padding-left: 20px;
}

#options {
	font-size: 1.5em;
	margin-left: 50px;
	padding-top: 50px;
}

#options table {
	width: 80%;
}

#options table, #options th, #options td {
	border-spacing: 0px;
	padding: 10px;
}

#options th, #options td {
	text-align: left;
}

#footer {
	background: #F1F1F1;
}